<audio autoplay src="../../assets/musica/MUSIK.mp3"></audio>
<div id="content" class="main-container">
    <div class="header">
 
        <h1  style="font-size:100px ;font-weight:900;text-align: center;margin: 15px 0;margin-top: 8rem;"><img src="../../assets/imagenes/cooltext383794287538006.png" alt=""></h1>
<div   style="text-align: center;margin: 15px 0;" class="field">
    
  
    

</div>
    </div>
    
    <div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>UNIRSE A UNA PARTIDA</h1>
			</div>

			<div class="login-form">
				

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" id="login-pass">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

				<a  [routerLink]="[ '/juego' ]"class="btn btn-primary btn-large btn-block" href="#">Crear</a>
			
                
			</div>
		</div>
	</div>
  



</div>

  
  
 
