<audio autoplay src="../../assets/musica/MUSIK.mp3"></audio>
<div id="content" class="main-container">
    <div class="header">
 
        <h1  style="font-size:100px ;font-weight:900;text-align: center;margin: 15px 0;margin-top: 8rem;"><img src="../../assets/imagenes/cooltext383794287538006.png" alt=""></h1>
<div   style="text-align: center;margin: 15px 0;" class="field">
    
  
    

</div>
    </div>
    
<div style="text-align: center;margin: 15px 0; margin-top: 12rem;" class="field">
<button  [routerLink]="[ '/nueva' ]"id="ButtonS"  mat-raised-button color="accent" class="start-game-button">Nueva Partida</button>


<button   [routerLink]="[ '/unirse' ]"id="ButtonS2" mat-raised-button color="accent" class="start-game-button">Unirse a Partida</button>

</div>

  
  
 




   
</div>
